[*.cs]

# IDE0002: Simplify Member Access
dotnet_diagnostic.IDE0002.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = none

# IDE0011: Add braces
csharp_prefer_braces = when_multiline
